* {
    box-sizing: border-box;
}
.html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.overflow {
    overflow: hidden;
}
.header {
    width: 100vw;
    background: url(../../assets/images/start-screen.png); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 0;
}
.container {
    margin: 0 auto;
}
.header-container {
    display: flex;
}
.logo-cont {
    padding-left: 160px;
    padding-top: 40px ;
}
.logo {
    color: #F1CDB3;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    margin-bottom: 0;
}
.under {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 0;
    padding-top: 10px;
}
.nav {
    margin-left: auto;
    margin-right: 175px;
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
    background: transparent;
}
.nav-list {
    display: flex;
    gap: 35px;
    align-items: center;
}
.nav-item {
    list-style-type: none; 
}
.nav-link-default {
    color: #fff;
    border-bottom: 3px solid #F1CDB3 ;
    transition: 0.3s;
}
.nav-link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
}
.nav-link:hover {
    color: #fff;
    border-bottom: 3px solid #F1CDB3 ;
    transition: 0.3s;
}
.main {
    margin-bottom: auto;
}
.start-section {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background: url(../../assets/images/start-screen.png);
    background-size: 100%;
    background-position: center -90px;
    background-repeat: no-repeat;
}
.start-content {
    display: flex;
    flex-direction: column;
    padding-top: 190px;
    width: 460px;
    height: 556px;
    margin-left: 160px;
}
.heading {
    width: 380px;
    margin-right: 80px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    margin-bottom: 0px;
}
.paragraph {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    margin-top: 42px;
    margin-bottom: 0px;
    color:  #CDCDCD;
}
.start-button {
    width: 210px;
    height: 50px;
    margin-top: 42px;
    background-color: #F1CDB3;
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    border-radius: 100px;
    border: none;
    margin-left: 0px;
    cursor: pointer;
}
.start-button:hover {
    background-color: #FDDCC4;
    transition: 0.3s
}
.start-dog {
    max-width: 698px;
    max-height: 728px;
    margin-right: 175px;
    margin-top: 60px;
}
.about {
    background: #FFFFFF;
    width: 100vw;
    height: 510px;
}
.about-content {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 120px;
    max-height: 410px;
}
.about-pets {
    max-width: 300px;
    max-height: 408px;
}
.info {
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 430px;
}
.about-heading {
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    height: 90px;
    margin-top: 15px;
    margin-bottom: 0;
    width: 370px;
}
.about-paragraph {
    color: #4C4C4C;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    margin-top: 25px;
    margin-bottom: 0;
}
.about-paragraph-2 {
    color: #4C4C4C;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    margin-top: 25px;
    margin-bottom: 0;
}
.pets {
    background: #F6F6F6;
    width: 100vw;
    height: 877px;
}
.pet-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.pet-heading {
    max-width: 400px;
    max-height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 0;
    margin-top: 80px;
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;
    max-width: 1200px;
    max-height: 435px;
}
.slide-btn-l {
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    cursor: pointer;
}
.slide-btn-r {
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    cursor: pointer;
}
.slide-btn-l:hover, .slide-btn-r:hover {
    background-color: #FDDCC4;
    transition: 0.3s;
}
.arw-l {
    position: static;
    left: 36.54%;
    right: 36.54%;
    top: 44.23%;
    bottom: 44.23%;
}
.arw-r {
    position: static;
    left: 63.46%;
    right: 9.62%;
    top: 55.77%;
    bottom: 32.69%;
}
.pet-cards {
    display: flex;
    justify-content: center;
    gap: 90px;
}
.card {
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 435px;
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.3s;
}

.pet-img {
    width: 270px;
    height: 270px;
    border-radius: 9px 9px 0px 0px;
}
.pet-name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    display: flex;
    color: #545454;
}
.popup {
    display: none;
}
.show-popup {
    display: block;
    position: fixed;
    margin-right: 900px;
    top: 50px;
    max-width: 952px;
    max-height: 552px;
    border-radius: 9px;
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.3);
}
.popup-content {
    position: absolute;
    left: 0px;
    top: 52px;
    width: 900px;
    height: 500px;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
}
.close-btn {
    position: absolute;
    width: 52px;
    height: 52px;
    left: 890px;
    top: 0px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
}
.close-btn:hover {
    background-color: #FDDCC4;
    transition: 0.3s;
}
.vector {
    position: absolute;
    left: 38.46%;
    right: 38.46%;
    top: 38.46%;
    bottom: 38.46%;
}
.popup-img {
    width: 500px;
    height: 500px;
}
.popup-text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.popup-heading {
    width: 145px;
    height: 45px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
}
.popup-subheading {
    width: 151px;
    height: 23px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
}
.popup-desc {
    width: 350px;
    height: 102px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
}
.popup-list {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.popup-info {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #000;
}

.more {
    width: 187px;   
    height: 52px; 
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    color: #292929;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    background: transparent;
}
.more:hover {
    background-color: #FDDCC4;
    transition: 0.3s;
}
.link {
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.link:hover {
    background-color: #FDDCC4;
    transition: 0.3s;
}
.adapt-slider {
    display: none;
}
.help {
    width: 100vw;
    height: 611px;
}
.help-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.help-heading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 0;
    margin-top: 80px;
    height: 90px;
    width: 310px;
}
.help-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    max-width: 1126px;
    max-height: 281px;
    row-gap: 30px;
    column-gap: 120px;   
}
.help-things {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 113px;
}
.help-icon {
    width: 60px;
    height: 60px;
}
.help-name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation { 
    background-color: #F6F6F6;
    width: 100vw;
    height: 462px;
}
.donation-content {
    width: 380px;
    height: 282px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 91px;
    margin: auto;
}
.don-dog {
    width: 505px;
    height: 261px;
    margin-top: 11px;
}
.don-con {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.don-heading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}
.don-subheading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}
.credit-card {
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin: 0;
}
.decoration {
    text-decoration: none;
}
.credit-card:hover {
    background-color: #FDDCC4;
    transition: 0.3s;
}
.credit-card-icon {
    height: 23px;
    width: 30px;
}
.credit-card-num {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}
.desc {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;
    margin: 0;
}
#contacts {
    background-image: url(../../assets/images/Footer.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.footer-content {
    display: flex;
    justify-content: center;
    gap: 160px;
    margin-top: 40px;
}
.contacts-tainer {
    display: flex;
    justify-content: center;
    gap: 160px;
}
.f-contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-height: 234px;
    margin-top: 15px;
}
.contacts-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: 0;
}
.contacts-link {
    text-decoration: none;
    color: #F1CDB3;
}
.contacts-cont {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.contacts-text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0px;
}
.f-locations {
    display: flex;
    flex-direction: column;
    gap: 33px;
    max-height: 234px;
    margin-top: 15px;
}
.f-puppy {
    width: 300px;
    height: 310px;
}



@media (max-width: 1279px) {
    .header {
        background: url(../../assets/images/startscreen720.png);
        background-repeat: repeat;
    }
    .logo-cont {
        padding-left: 30px;
    }
    .nav {
        padding-right: 30px;
        margin-right: 0px;
    }
    .header {
        height: 90px;
        align-items: center;
    }
    .header-container {
        height: 60px;
        align-items: center;
    }
    .start-section {
        background-size: auto;
        flex-direction: column;
        align-items: center;
        height: 1075px;
        justify-content: flex-start;
        gap: 160px;
        background: url(../../assets/images/startscreen720.png);
    }
    .start-content {
        margin-left: 0px;
        padding-top: 25px;
        align-items: center;
        height: 322px;
    }
    .start-dog {
        max-width: 569px;
        max-height: 593px;
        margin-right: 0px; 
        margin-top: 0px;  
        margin-left: 140px; 
        object-fit: cover;   
    }
    .about {
        height: 980px;
    }
    .about-content {
        margin-top: 66px;
        gap: 42px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        max-height: fit-content;
    }
    .hide {
        display: none;
    }
    .slider {
        max-width: 735px;
        gap: 12px;
    }
    .pet-cards {
        gap: 40px;
    }
    .help {
        height: 779px;
        display: flex;
        justify-content: center;
    }
    .help-content {
        max-width: 630px;
    }
    .help-list {
        gap: 55px 60px;
    }
    .help-things {
        width: 170px;
        height: 113px;
    }
    .donation {
        height: 783px;
    }
    .donation-content {
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
    }
    #contacts {
        background-image: url(../../assets/images/footer768.png);
        background-repeat: repeat;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 65px;
    }
    .contacts-tainer {
        display: flex;
        justify-content: center;
        gap: 60px;
    }
    .f-puppy {
        width: 300px;
        height: 310px;
    }
    .show-popup {
        max-width: 630px;
        max-height: 350px;
    }
    .popup-img {
        width: 350px;
        height: 350px; 
    }
    .popup-content {
        width: 630px;
        height: 350px;
        left: 140px;
        top: 120px;
    }
    .close-btn {
        left: 760px;
        top: 65px;
    }
    .popup-text {
        margin: 15px;
        gap: 20px;
    }
    .popup-heading, .popup-subheading, .popup-desc {
        margin: 0px;
    }
    .popup-desc {
        width: 260px;
        height: 98px;
    }
}
@media (max-width: 768px) {
    .footer-content {
        margin-top: 17px;
    }
    .help-content {
        gap: 76px;
    }
    .pet-content {
        gap: 40px;
    }
    .hide-2 {
        display: none;
    }
    .adapt-slider {
        display: flex;
        gap: 80px;
    }
    .slide-btn-l, .slide-btn-r {
        display: none;
    }
    .slide-btn-l-adapt, .slide-btn-r-adapt {
        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        border-radius: 100px;
        width: 52px;
        height: 52px;
        cursor: pointer;
    }
   
}
@media (max-width:767px) {
    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 15;
        margin-left: auto;
        margin-right: 53px;
        margin-top: 60px;
        transition: 0.3s;
    }
    .burger::before, .burger::after {
        content: '';
        background-color: #F1CDB3;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .burger::before {
        top: 0;
    }
    .burger::after {
        bottom: 0;
    }
    .burger span {
        position: absolute;
        left: 0;
        top: 9px;
        background-color: #F1CDB3;
        width: 100%;
        height: 2px;
    }
    .burger-active {
        transform: rotate(90deg);
        transition: 0.3s;
    }
    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        width: 320px;
        height: 100%;
        z-index: 10;
        right: -620px;
        top: -50px;
        transition: 0.5s;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-top: 248px;
        width: 243px;
        padding: 0;
    }
    .show-nav {
        position: absolute;
        right: 0;
        transition: 0.5s;
        background-color: #000;
        box-shadow: 0 0 0 9999px rgba(0,0,0, 0.7);
    }
    .nav-link {
        position: static;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
        color: #FAFAFA;
        display: flex;
        align-items: center;
        text-align: center;
        margin: 10px 0px;
    }
    .logo-cont {
        padding-left: 10px;
    }
    #contacts {
        background-image: url(../../assets/images/footer320.png);
    }
    .contacts-tainer {
        flex-direction: column;
    }
    .f-puppy {
        width: 260px;
        height: 269px;
    }
    .show-popup {
        max-width: 630px;
        max-height: 350px;
    }
    .popup-content {
        width: 240px;
        height: 400px;
        left: 330px;
    }
    .close-btn {
        left: 550px;
        top: 65px;
    }
    .popup-text {
        margin: 15px;
        align-items: center;
    }
    .popup-heading, .popup-subheading, .popup-desc {
        margin: 0px;
    }
    .popup-desc {
        width: 220px;
        height: 112px;
    }
    .popup-list {
        margin-top: 40px;
    }
    .popup-img {
        display: none;
    }
}
@media (max-width:630px) {
    .start-section {
        height: 755px;
    }
    .start-dog {
        max-width: 269px;
        max-height: 273px;
        margin-right: 0px; 
        margin-top: 0px;  
        margin-left: 40px;    
    }
    .donation {
        margin-top: 250px;
    }
    .left {
        margin-right: 235px;
    }
    .don-dog {
        width: 420px;
    }
    .don-con {
        align-items: center;
    }
    .don-heading {
        width: auto;
    }
    .desc {
        width: 280px;
        height: 90px;
        font-family: 'Arial';
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: justify;
    }
}
@media (max-width:450px) {
    .start-content {
        padding-top: 40px;
        width: 300px;
    }
    .pet-heading, .heading, .about-heading, .help-heading {
        width: 300px;
        height: 64px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: center;
        margin-right: 0px;
    }
    .heading {
        width: 230px;
    }
    .paragraph {
        width: 300px;
        height: 96px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .info {
        align-items: center;
        height: auto;
        width: 300px;
    }
    .about {
        height: 945px;
    }
    .about-content {
        margin-top: 5px;
    }
    .about-heading {
        width: 280px;
    }
    .about-paragraph, .about-paragraph-2 {
        text-align: justify;
        width: 270px;
    }
    .about-pets {
        width: 260px;
        height: 353px;
    }
    .pets {
        height: 791px;
    }
    .pet-heading {
        margin-left: 15px;
        margin-top: 45px;
    }
    .card {
        gap: 30px
    }
    .pet-name {
        margin: 0;
    }
    .help {
        height: 745px;
    }
    .help-content {
        gap: 50px;
    }
    .help-heading {
        margin-top: 45px;
        width: 230px;
    }
    .help-icon {
        width: 50px;
        height: 50px;
    }
    .donation {
        margin-top: 25px;
        height: 520px;
    }
    .donation-content {
        width: 300px;
        padding-top: 20px;
    }
    .don-heading {
        height: 64px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: center;
        margin-right: 0px;
    }
    .don-subheading {
        width: 273px;
        height: 24px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        display: flex;
        align-items: center;
        letter-spacing: normal;
    }
    .don-dog {
        width: 260px;
    }
    .don-con {
        width: 300px;
    }
    .credit-card {
        width: 281px;
        height: 43px;
    }
    .credit-card-num {
        width: 206px;
        height: 17px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
    }
    .help-things {
        width: 130px;
        height: 87px;
    }
    .help-list {
        gap: 30px;
        width: 290px;
    }
    .help-name {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em
    }
    .left {
        margin-right: 160px;
    }
    .contacts-tainer {
        gap: 20px;
    }
    .contacts-title {
        width: 278px;
        height: 64px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
    }
    #contacts {
        background-repeat: repeat;
    }
}